# API Key
NYT_API_KEY = "{{your_nyt_key}}"

# DB Configuration
AZURE_SQL_SERVER = "{{your_azure_sql_server_name}}"
AZURE_SQL_DATABASE = "{{your_azure_sql_database}}"
AZURE_SQL_USERNAME = "{{your_azure_sql_username}}"
AZURE_SQL_PASSWORD = "{{your_azure_sql_password}}"
